# dependencies
node_modules

# build outputs
dist
build

# environment variables
.env
.env.local

# logs
npm-debug.log*

# firebase admin secret
backend/src/config/serviceAccountKey.json